.footer{
    padding: 1rem 6rem;
    background-color: black;
    color: white;
    border: 5px solid white;
    border-radius: 13px;

    .top{
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: space-between;
        flex-wrap: wrap;

        i{
            color: white;
            font-size: 3rem;
            margin-left: 1rem ;
        }

        i:hover{
            color: rgb(177, 177, 177);
        }
    }

    .bottom{
        padding-top: 1rem;
        text-align: start;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div{
            display: flex;
            flex-direction: row;

            a{
                color: white;
                text-decoration: none;
                margin-right: 1.5rem;
                font-size: 1.1rem;
            }

            a:hover{
                color: rgb(221, 217, 217);
                text-decoration: underline;
            }
        }
    }
}
